.bg-custom{
    background-color: #BE0000;
}

footer a{
    color: white;
    text-decoration: none;
}


footer ul{
    list-style: none;
    padding-left:0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:#02074d;
}

.container{
    width: 50%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px #BE0000;
}

img{
    height: 100%;
    width: 100%;
}

.overly{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: opacity 0.4s ease-in-out;
    background:#BE0000;
    cursor: pointer;
}

.content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.container:hover .overlay{
    opacity: 0.8;
}